* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    margin: 15px 0;
}

input[type="file"] {
    display: none;
}

.input-styling, button {
    border: none;
    outline: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(240, 243, 255);
    font-size: 14px;
}

.input-styling:hover, button:hover {
   background-color: rgb(199, 200, 204);
}

#output {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid rgb(0,4,26) ;
}
